/* === ESTRUCTURA BASE === */
.admin-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 200px;
  overflow-x: hidden;
  z-index: 0;
}

/* Capa difuminada */
.admin-grid::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/src/assets/bg10.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(10px); 
  z-index: -1;
}


.layout-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* === MAIN CONTENT === */
.main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: inherit;
}

/* === TEMA CLARO === */
body.light-mode .main,
body.light-mode .admin-header {
  color: #222222;
  border-bottom-color: #ccc;
  /*backdrop-filter: blur(8px);*/
}

body.light-mode .admin-grid {
  background-color: rgba(255, 255, 255, 0.8);
}

body.light-mode .layout-content {
  background-color: rgba(255, 255, 255, 0.5);
}
